/* Variables */
:root {
  --primary: #1e555c;
  --business: #af5d63;
  --personal: var(--primary);
  --light: #F4D8CD;
  --grey: #605F5E;
  --darK: #3A2E39;
  --danger: #F15152;

  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  --personal-glow: 0px 0px 3px rgba(30, 85, 92, 0.75);
  --business-glow: 0px 0px 3px rgba(175, 93, 99, 0.75);
}

/* General Styles */

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]), button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
}

body {
  background: var(--light);
  color: var(--dark);
}

section {
  margin: 2rem 0;
  padding: 0 1.5rem;
}

h3 {
  color: var(--dark);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

h4 {
  color: var(--grey);
  font-size: 0.87rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

/* Greeting Section */

.greeting .title {
  display: flex;
}

.greeting .title input {
  margin-left: 0.5rem;
  flex: 1 1 0;
  min-width: 0;
}

.greeting .title,
.greeting .title input {
  color: var(--darK);
  font-size: 1.5rem;
  font-weight: 700;
}

/* Create ToDo Section */

.create-todo input[type="text"] {
  display: block;
  width: 100%;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  color: var(--darK);
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
  padding: 1rem 1.5rem;
}

.create-todo .options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1.5rem;
}

.create-todo .options label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  cursor: pointer;
  padding: 1.5rem;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border: 2px solid var(--business);
  border-radius: 50%;
  box-shadow: var(--business-glow);
}

.bubble.personal {
  border-color: var(--personal);
  box-shadow: var(--personal-glow);
}

.bubble::after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  opacity: 0;
  background-color: var(--business);
  border-radius: 50%;
  box-shadow: var(--business-glow);
  transition: 0.2s ease-in-out;
}

.bubble.personal::after {
  background-color: var(--personal);
  box-shadow: var(--personal-glow);
}

input:checked ~ .bubble::after {
  height: 10px;
  width: 10px;
  opacity: 1;
}

.create-todo .options label div {
  color: var(--darK);
  font-size: 1.125rem;
  margin-top: 1rem;
}

.create-todo input[type="submit"] {
  display: block;
  width: 100%;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: var(--personal-glow);
  color: #fff;
  cursor: pointer;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  transition: 0.2s ease-in-out;
}

.create-todo input[type="submit"]:hover {
  opacity: 0.75;
}

/* Todo List Section */

.todo-list .list {
  margin: 1rem 0;
}

.todo-list .todo-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin-bottom: 1rem;
  padding: 1rem;
}

.todo-item label {
  display: block;
  margin-right: 1rem;
  cursor: pointer;
}

.todo-itrm .todo-content {
  flex: 1 1 0%;
}

.todo-itrm .todo-content input {
  color: var(--dark);
  font-size: 1.125rem;
}

.todo-item .actions {
  display: flex;
  align-content: center;
}

.todo-item .actions button {
  display: block;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem;
  transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
  opacity: 0.75;
}

.todo-item .actions .edit {
  background-color: var(--primary);
  margin-right: 0.5rem;
}

.todo-item .actions .delete {
  background-color: var(--danger);
  margin-right: 0.5rem;
}

.todo-item.done .todo-content input {
  text-decoration: line-through;
  color: var(--grey);
}